* {
    box-sizing:border-box;
    margin: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.headercontainer{
    width: 1536px;
    height: 754px;
    background-image: url("images/test.svg");
}
.heading{
    padding-top: 30px;
}
.howtoplay{
    padding-top: 120px;
}
.play{
    padding-top: 60px;
}

